.card1 {

    text-decoration: none;
}

.card {
    text-decoration: none;
    color: black;
}



.setup {

    color: black;
    font-size: large;

}

.results {

    text-align: center;



}


.results-details {
    text-align: center;
}

#punchline-id {

    color: black;
    font-size: 40px;
    display: none;





}

#button {

    border-radius: 20px;
    padding: 10px;
    color: white;
    background-color: darkblue;
    cursor: pointer;

}


.program {
    border-radius: 20px;
    padding: 10px;
    color: white;
    background-color: darkblue;
    cursor: pointer;
}


.general {

    border-radius: 20px;
    padding: 10px;
    color: white;
    background-color: darkblue;
    cursor: pointer;
}


.button-div {
    margin-top: 20px;

    margin-left: 80px;
}